[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/wlsunset -S '06:00' -s '19:30' -d '1800'
Restart=on-failure
