@import "../color-themes/colors.css";

* {
  /* font-family: "JetBrainsMono Nerd Font Propo"; */
  font-family: "monospace";
  font-weight: 600;
  font-size: 0.9rem;

  border: none;
  border-radius: 0px;

  min-height: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

tooltip {
  border-radius: 10px;
  background-color: alpha(@background, 0.99);
  border: none;
}

tooltip label {
  color: @backgroundText;
  padding: 15px;
}

window#waybar {
  background-color: alpha(@surface, 0.6);
  border-radius: 100px;
  border: none;
}

#workspaces {
  margin: 0 5px;
  background-color: transparent;
  border-radius: 100px;
}

#workspaces button {
  background-color: darker(@surface);
  color: lighter(@surfaceText);
  border-radius: 100px;
  margin: 3px 5px;
  min-width: 30px;
}

#workspaces button:hover {
  box-shadow: inherit;
  background: inherit;
  text-shadow: inherit;

  background-color: @secondary;
  color: @surfaceText;
  min-width: 65px;
  transition: all 0.3s ease-in-out
}

#workspaces button.focused,
#workspaces button.active {
  background-color: darker(@outline);
  color: @surfaceText;
  min-width: 65px;
  transition: all 0.3s ease-in-out
}

#workspaces button.focused:hover,
#workspaces button.active:hover {
  background-color: @info;
  color: @primaryText;
}

#workspaces button.urgent {
  background-color: darker(@error);
}

#custom-drawer,
#idle_inhibitor,
#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#wireplumber,
#battery,
#tray,
#clock,
#custom-notification,
#custom-power {
  padding: 3px 10px;
  margin: 3px 5px;
  border-radius: 100px;
  background-color: darker(@outline);
  color: @surfaceText;
}

#custom-drawer:hover,
#idle_inhibitor:hover,
#pulseaudio:hover,
#network:hover,
#power-profiles-daemon:hover,
#cpu:hover,
#memory:hover,
#wireplumber:hover,
#battery:hover,
#clock:hover,
#custom-notification:hover,
#custom-power:hover {
  background-color: @info;
  color: @primaryText;
  transition: all 0.3s ease-in-out
}

#custom-power {
  margin-right: 15px;
}

#power-profiles-daemon.performance {
  color: @error;
}

#power-profiles-daemon.balanced {
  color: @warning;
}

#power-profiles-daemon.power-saver {
  color: @info;
}


#network.disconnected {
  background-color: darker(@primary);
}

#pulseaudio.muted {
  background-color: darker(#f53c3c);
  color: @secondary;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: darker(#f53c3c);
}

#tray menu {
  background-color: @surface;
}

#idle_inhibitor.activated {
  background-color: @primary;
  color: @primaryText;
}

